#loading {
    position: fixed;
}

#ver {
    font-size: 2.0vw;
    top: 90%;
    position: fixed;
    padding-left: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 5;
}

#ng {
    padding-left: 2vw;
    background-size: 200%;
    background-position-x: center;
    overflow: hidden;
    background-image: linear-gradient(to right,#60adff, #e87fff);
    border-radius: 5vw;
    padding-right: 3vw;
}

#navagationBar p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    color:white;
    padding-right: 2vw;
    top: .65vh;
    position: relative;
}

#navagationBar p1 i {   
    font-size: 2.2vw;
    padding-right: .5vw;
}

#navagationBar {
    width: 90%;
    left: 5vw;
    position: fixed;
    height: 3.5vw;
    background-color:rgb(20, 20, 20);
    border-radius: 5vw;
    z-index: 5;
}

#searchBar {
    font-family: 'Montserrat', sans-serif;
    width: 30vw;
    height: 6vh;
    position:fixed;
    top: 85vh;
    z-index: 1;
    font-size: 2.6vw;
    border-radius: 3vw;
    padding-left: 1vw;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    transition: 0.3s;
    left: 35vw;
    
}
#searchBar:focus {
    font-family: 'Montserrat', sans-serif;
    width: 50vw;
    height: 6vh;
    position:fixed;
    top: 85vh;
    z-index: 1;
    font-size: 2.6vw;
    border-radius: 3vw;
    padding-left: 1vw;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    transition: 0.3s;
    left: 25vw;
}

a {
    color:white;
    
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#textBarText {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    position:fixed;
    z-index: 1;
    font-size: 2vw;
    top: 75vh;
    left: 40.5vw;
}

#text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    position:fixed;
    z-index: 0;
    font-size: 6vw;
    top: 20vh;
    left: 32vw;
}

body, html {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    position:absolute;
    top:0;
    left:0
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}  
#webNavBar {
    width: 60vw;
    left: 20vw;
    top: 80vh;
    height: 11vh;
    background-color: rgb(18, 24, 30);
    border-radius: 2vw;
    position: fixed;
    z-index: 5;
    padding-right: 1vw;
    display: flex; 
    justify-content: space-between;
}
#webBarColor {
    background-size: 200%;
    background-position-x: center;
    overflow: hidden;
    background-image: linear-gradient(to right,#60adff, #e87fff);
    border-radius: 2vw;
    height: 11vh;
    width: 11vw;
    float: right;
}
#webNavBarTextSP {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    position:relative;
    top: -5.8vh;
    font-size: 7vh;
    padding-right: .5vw;
    
}
#webNavBarText {
    padding-left: 2vw;
    top: -0.25vw;
    position: relative;
}
#WebIcon {
    font-size: 8vh;
}
#webButton {
    background-color: transparent;
    border: none;
}
.webButton {
    background-color: transparent;
    border: none;
}